/* Cormorant Font - Primary font */
@font-face {
    font-family: Cormorant;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Cormorant-VariableFont_wght.ttf") format("truetype-variations");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
        u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191,
        u+2193, u+2212, u+2215, u+feff, u+fffd;
}

/* Cabin Font - Secondary font */
@font-face {
    font-family: Cabin;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Cabin-VariableFont_wght.ttf") format("truetype-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

/* Cabin Font - Secondary font */
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/NotoSerif-VariableFont_wdth.ttf") format("truetype-variations");
    unicode-range:  U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/NotoSans-VariableFont_wdth.ttf") format("truetype-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
